### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Archivos de ayuda de JetBrains
*.iws
*.fsproj.user

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Configuración local y secretos
.env
*.env
env.properties
local.properties

# Build tools
target/
build/
.gradle/

